@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-background text-black;
    background-size: cover; /* Ensure it covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    font-family: "Raleway", sans-serif;
    font-size: larger;
    font-weight: 600;
  }

  h2 {
    font-family: 'Inter', sans-serif; /* Apply Inter font to h2 */
  }
}