@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-background text-black;
    background-size: cover; /* Ensure it covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: 600;
  }

  h2 {
    font-family: 'Inter', sans-serif; /* Apply Inter font to h2 */
  }
}